<launch>
  <include file="$(find zed_wrapper)/launch/zed.launch" />
  <include file="$(find jsk_pcl_ros)/launch/multi_resolution_organized_pointcloud.launch">
    <arg name="NAMESPACE" value="zed/point_cloud/cloud_registered" />
    <arg name="INPUT" value="/zed/point_cloud/cloud_registered" />
    <arg name="INPUT_DEPTH" value="/zed/depth/depth_registered" />
  </include>
</launch>
