<launch>
  <arg name="headless" default="true" />
  <arg name="rate" default="3" />
  <arg name="type" default="mono" />

<group ns= "handeye">
 <node name="netusbcam" pkg="netusbcam" type="netusbtest_node" output="log" respawn="true">
   <param name="fps" value="15" />
   <remap from = "/net_usb_cam/image_raw" to ="/handeye/image_color" />
   <remap from = "/net_usb_cam/camera_info" to ="/handeye/camera_info" />
 </node>

</group>
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen" unless="$(arg headless)">
    <remap from="image" to="/net_usb_cam/image_color"/>
    <param name="autosize" value="true" />
  </node>
</launch>




