<launch>
  <arg name="headless" default="true" />
  <arg name="rate" default="3" />
  <arg name="type" default="mono" />

<group ns= "handeye">
 <node name="netusbcam" pkg="netusbcam" type="netusbtest_node" output="screen" respawn="true">
   <param name="fps" value="15" />
   <param name="param_file" value="$(find netusbcam)/cfg/param_KS4133CU_101510501.yaml" />
 </node>
 <node name="netusbcam_proc" pkg="image_proc" type="image_proc" output="screen" respawn="true" />
</group>

  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen" unless="$(arg headless)">
    <remap from="image" to="/net_usb_cam/image_color"/>
    <param name="autosize" value="true" />
  </node>
</launch>




